header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.main-landing-page{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.article-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.article-layout{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 20px;
    padding: 20px;
}

.article-content{
    flex: 3;
}

.sidebar{
    flex: 1;
}

.article-content, .sidebar {
    min-height: 200px;
    background-color: lightgray;
    padding: 20px;
}

/* Gallery Class Selectors */

.gallery-body, .gallery-html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.photo-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
 
.photo {
    display: none;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.photo img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.gallery-controls{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color .3s;
}

button:hover{
    background-color: #ddd;
}